html, body {
	font-family: 'Open Sans', 'sans-serif';
	font-size: 100%;
}

@font-face {
	font-family: 'PoiretOne-Regular';
	src: url(fonts/PoiretOne-Regular.ttf) format('truetype');
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PoiretOne-Regular';
}

 p{
	font-family: 'PoiretOne-Regular';
	text-align: center;
}
   .footer {
      position:absolute;
	  bottom:0px;
      color: white;
      padding:5px;
	  background-color:grey;
	  width:100%;
	 
	  height:auto;
    }
/* .footer {
	background-color: #555;
	color: white;
	padding: 20px;
} */