.center {
	text-align: center;
}

#section {
	background-color: rgb(36, 194, 146);
	height: 237px;
	border-color: red;
	border: 2px;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	opacity: 0.8;
	border-radius: 5px 5px 15px 15px;
	text-align: center;
}

#Addmore-button {
	margin-left: 20px;
	text-align: center;
}

.content {
	height: 537px;
}

.logout {
	font-size: 1em;
	padding-right: 40px;
	padding-top: 15px;
}

.hvr-rectangle-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}

.read_more_button {
	font-size: 18px;
}

.read_more_button :hover {
	color: #e33529;
	border-color: #e33529;
}

.read_more_button {
	border: 2px solid #5499C7;
	border-radius: 22px;
	font-family: "segoeRegular";
	padding: 5px 17px;
	text-decoration: none;
	color: #5499C7;
	position: relative;
	margin-top: 15px;
	display: inline-block;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	border-color: green;
}

td a {
	color: rgb(36, 194, 146);
}

.h3 {
	font-size: .9em;
}

/* .row {
	background-color: grey;
} */
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.content {
	height: 537px;
}

/* Set gray background color and 100% height */
.sidenav {
	overflow: scroll;
	overflow-x: hidden;
	padding-top: 20px;
	background-color: #6E7E77;
	height: 537px;
	box-shadow: 20px;
	border-radius: 0px 15px 15px 0px;
}

.overflow {
	overflow: scroll;
	overflow-x: hidden;
	height: 200px;
}

/* Set black background color, white text and some padding */
.footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
		border-right: 2px;
		border-right-color: black;
	}
	.row.content {
		height: auto;
	}
}