.center {
	text-align: center;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	@
	include
	box-sizing(border-box);
	&:
	focus
	{
	z-index
	:
	2;
}

}
}
#wrap-color {
	box-shadow: 0 0 18px black;
	border-radius: 9px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 400px; /* Could be more or less, depending on screen size */
	height: auto;
}

#chartdiv {
	width: 40%;
	height: 230px;
	float: left;
}

#chartdivForBatch {
	float: right;
	width: 40%;
	height: 190px;
	margin-top: 30px;
	margin-right: 50px;
}

#display-section {
	margin-top: 10px;
}

.shiftcard {
	width: 350px;
	height: 100px;
	border-color: red;
	border: 2px;
	background-color: #D6DBDF;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	opacity: 0.8;
	border-radius: 5px 5px 15px 15px;
	text-align: center;
	box-shadow: 1px 1px 1px 1px #ABB2B9;
}

.shiftcard tr {
	padding: 10px;
}

.shiftcard td {
	padding: 10px;
}

.card {
	width: 13%;
	margin-right: 17px;
	height: 150px;
	border-color: red;
	border: 2px;
	margin-top: 10px;
	margin-left: -10px;
	opacity: 0.8;
	border-radius: 5px 5px 15px 15px;
	text-align: center;
	box-shadow: 1px 1px 0px 0px;
}

.card i {
	padding-top: 10px;
	font-size: 40px;
}

.card h3 {
	float: right;
	font-size: 18px !important;
	display: -webkit-inline-box;
}

#section {
	background-color: #76D7C4;
}

#category {
	background-color: #F5B041;
}

#document {
	background-color: #E67E22;
}

#batch {
	background-color: #EC7063;
}

#updates { /* #85C1E9*/
	background-color: #A569BD;
}

#blog {
	background-color: #5499C7;
}

#Addmore-button {
	margin-left: -5px;
	text-align: center;
}

.content {
	height: 235px;
}

.logout {
	font-size: 1em;
	padding-right: 40px;
	padding-top: 15px;
}

.hvr-rectangle-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}

.read_more_button {
	font-size: 10px;
}

.read_more_button :hover {
	color: #e33529;
	border-color: #e33529;
}

.read_more_button {
	border: 2px solid #5499C7;
	border-radius: 22px;
	font-family: "segoeRegular";
	padding: 5px 17px;
	text-decoration: none;
	color: #5499C7;
	position: relative;
	margin-top: 15px;
	display: inline-block;
}

.btn {
	padding: 3px 12px;
	font-size: 10px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	border-color: green;
}

.contentOfDocuments {
	text-size: 10px;
}

td a {
	color: #566573;
}

.h3 {
	font-size: 20px;
	margin-top: 20px;
}

/* .row {
	background-color: grey;
} */
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.content {
	height: 337px;
}

/* Set gray background color and 100% height */
.navbar {
	border-radius: 0px;
}

.sidenav {
	overflow: hidden;
	overflow-x: hidden;
	padding-top: 20px;
	margin-top: 12px;
	background-color: #AAB7B8;
	height: 50px;
	box-shadow: 0px 2px 0px 2px #D1D1D1;
}

.sidenav:hover {
	overflow: scroll;
	overflow-x: hidden;
}

/*
 *  scrollbar
 */
.sidenav::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #AAB7B8;
	border-radius: 20px;
}

.sidenav::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.sidenav::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #5bc0de
}

.overflow {
	overflow: hidden;
	overflow-x: hidden;
	max-height: 450px;
}

.overflow:hover {
	overflow: scroll;
	overflow-x: hidden;
}

.overflow::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.overflow::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.overflow::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #5bc0de
}

/* Set black background color, white text and some padding */
.footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

.scrollbar {
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow {
	min-height: 450px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
		border-right: 2px;
		border-right-color: black;
	}
	.row.content {
		height: auto;
	}
}
/* 
#readStatusDivId {
	display: none;
} */